.container {
    display: flex;
    justify-content: space-around;
    padding: 0 1vw ;
    font-size: var(--text-md);
    transition: all 0.3s;
    
}
.logo{
    display: flex;
    align-items: center;
    z-index: 1000;
}

.navElements {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.navLogin {
    flex-grow: 4;
    display: flex;
    justify-content: flex-end;
    padding: 0 1vw;
}
.navLogin >a {
    margin: 0 1vw
}
.smMenuContainer{
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: white;

}
.smMenuContainer>button {
    width: 70%;
    
    font-size: var(--text-sm);
    margin: 1% 0;
}
.smMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--text-md);
}

.smMenu >a {
    margin: 1%;
}



@media screen and (max-width:760px){
    
    .navElements{
        display: none;
    }
    .barMenu{
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
        width: 40px;
        min-height: 20px;
        z-index: 1000;
        
    }
    .bar1{
        background-color: black;
        height: 6px;
        width: 100%;
        transition: all 0.3s;
    }
    .bar2{
        background-color: black;
        height: 6px;
        width: 100%;
        transition: all 0.3s;

    }
    .openbar1{
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    
    }
    .openbar2{
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }
    
}